@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: linear-gradient(rgba(0,0,0,.75),rgba(0,0,0,.75)),url(image/background.jpg);
    
    background-size: cover;
    
}
.about{
    padding: 5px;
    padding-top: 10px;
}
.about h1{
    font-size: 50px;
    color: rgb(253, 246, 246);
    text-align: center;
}
.about p{
    font-size: 15px;
    color: rgb(134, 223, 126);
    text-align: center;
    margin: 10px;
}
.about h2{
    font-size: 30px;
    color: rgb(18, 190, 243);
    text-align: center;
    margin: 10px;
}